<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CNZ Chatbot</title>
  <link rel="stylesheet" href="static/styles/style.css" />
</head>

<body>
  <div class="chat-header">
    <div class="navbar">
      <button class="nav-btn active">
        <span class="icon">&#x1F4AC;</span> Chat
      </button>
      <button class="nav-btn">
        <span class="icon">&#x2194;</span> Compare
      </button>
      <button class="nav-btn">
        <span class="icon">&#x1F4E6;</span> Bundles
      </button>
    </div>
  </div>
  <div class="chat-container">

    <div class="chat-messages" id="chat-messages">
      <!-- Messages will be loaded here -->
    </div>
    <div class="chat-input-area">
      <div class="input-wrapper">
        <input id="user-input" type="text" placeholder="Search for a product" />
        <span class="search-icon">&#x1F50D;</span>
      </div>
      <button onclick="getBotResponse(event)">
        <span class="send-icon">&#x25B6;</span> Send
      </button>
    </div>
  </div>


  <script src="static/chatbot.js"></script>

</body>

</html>
