<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CNZ Chatbot</title>
    <link rel="stylesheet" href="static/styles/style.css" />
  </head>
  <body>
    <div class="chat-container">
      <div class="chat-header">
        <h1>CNZ-Shopping Chatbot</h1>
      </div>
      <div class="chat-messages" id="chat-messages">
        <!-- Messages will be loaded here -->
      </div>
      <div class="chat-input-area">
        <input
          id="user-input"
          type="text"
          placeholder="Type your message here..."
        />
        <button onclick="getBotResponse(event)">Send</button>
      </div>
    </div>


    <script src="static/chatbot.js"></script>
    
  </body>
</html>
         
